html {
    background: gray;
}

body {
    margin: 0;
}
h1, h2, h3 {
    color: greenyellow;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    text-align: center;
}

img {
    display: inline;
    width: auto;
    max-height: 150px;
    margin-right: auto;
    float: right;
}

.image {
    width: 20%;
    margin: 0 auto;
}

#logo {
    float: left;
    width:35px;
    margin-left: 15px;
    margin-top: 15px
}

.centerText {
    text-align: center;
}

nav {
    display: block;
    background: lightgreen;
    margin-top: 50px;
    height: 50px;
    position: fixed;
    width: 100%;
}

header {
    height: 50px;
    display: block;
    background: greenyellow;
    position: fixed;
    width: 100%;
    margin: 0;
}
#footer {
    background: greenyellow;
    height: 120px;
}

.list {
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 100%;
}
.centerdiv{
    width: 50%;
    margin: 0 auto;
}

.spacer {
    height:100px;
}