html {
    background: lavenderblush;
}

h2, h3 {
    color: cornflowerblue;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    text-align: center;
}

p {
    font-family: monospace;
}

img {
    display: inline;
    width: auto;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

#nav {
    background: greenyellow;
    height: 50px;
}

#footer {
    background: greenyellow;
    height: 120px;
}

.list {
    margin-left: 50%;
    margin-right: auto;
}

.centerdiv{
    float: left;
}
