html {
    background: gray;
    font-family: "Lucida Grande", "Helvetica", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: lightskyblue;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: lightskyblue;
}
div > img {
    display: inline;
    width: auto;
    max-height: 150px;
    margin-right: auto;
    float: right;
}

.image {
    width: 20%;
    margin: 0 auto;
}

#logo {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;
    max-height:50px;
    max-width: 390px;
    vertical-align: middle;
}

.centerText {
    text-align: center;
}

nav {
    display: block;
    background: #5aebad;
    height: 50px;
    position: relative;
    width: 100%;
}

nav > a {
     margin-left: 20px;
     color: grey;
     font-weight: 700;
     font-size: 1.5em;
     text-decoration: none;
     background-color: lightskyblue;
     border: 8px solid lightskyblue;
     border-radius: 6px;
 }

nav > a:hover {
    background-color: #189BCA;
    border: 8px solid #189BCA;
    color: dimgrey;
}
header {
    height: 60px;
    display: block;
    background: #5aebad;
    position: relative;
    width: 100%;
    margin-top: 0;
}

#footer {
    background: lightskyblue;
    height: 160px;
}

footer > h3 {
    padding-top:20px;
    color: grey;
}

.list {
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 100%;
}

.centerdiv{
    width: 50%;
    margin: 0 auto;
}

.spacer {
    height:100px;
}